<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>



    {{{body}}} <!--body được định nghĩa riêng ở từng view -->


    <h1>aaaaaa</h1>  <!-- view nào cũng hiển thị-->
    <h1>default layout</h1>  <!-- view nào cũng hiển thị-->

  </body>
</html>
